 # 1.Dataset1: Rental Bike Sharing Dataset

## 1.1.Importación de datos

https://www.kaggle.com/datasets/imakash3011/rental-bike-sharing

In [1]:
from google.colab import drive
import os
import pandas as pd

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd  "/content/drive/MyDrive/Coderhouse/1er entrega"

/content/drive/MyDrive/Coderhouse/1er entrega

In [4]:
archivo1 = pd.read_csv ("Bicicletas por hora.csv",sep = ",")

In [5]:
df1 = pd.DataFrame (archivo1)

## 1.2.Visualización y tipos de datos

In [6]:
df1.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [8]:
df1.cnt.value_counts(normalize = True)*100

5      1.496058
6      1.357961
4      1.329190
3      1.288912
2      1.196847
         ...
913    0.005754
847    0.005754
777    0.005754
661    0.005754
636    0.005754
Name: cnt, Length: 869, dtype: float64

## 1.3. Variables

### 1.3.1.Descripción:

	- instant: Indice
	- dteday : Dia
	- season : Temporada (1:Primavera, 2:Verano, 3:Otoño, 4:Invierno)
	- yr : Año (0: 2011, 1:2012)
	- mnth : Mes ( 1 to 12)
	- hr : hora (0 to 23)
	- holiday : el dia es feriado o no (extracted from http://dchr.dc.gov/page/holiday-schedule)
	- weekday : día de la semana
	- workingday : si el día no es fin de semana o festivo es 1, sino es 0.
	+ weathersit : 
		- 1: Despejado, poco nublado
		- 2: Niebla + nubes
		- 3: Nieve ligera, lluvias ligeras
		- 4: Lluvias fuertes, tormentas electricas, nieve
	- temp : Temperatura en Celsius. 
	- atemp: Sensación termica en Celsius.
	- hum: porcentaje de humedad
	- windspeed: Velocidad del viento
	- casual: Usuarios casuales
	- registered: usuarios registrados
	- cnt: total de usuarios (casual + registered)

### 1.3.2 Variables potencialmente interesantes:

El objetivo es analizar la cantidad de usuarios (cnt), su relación con el clima (temp, atemp, hum, windspeed), la relación con el día de la semana (weekday) y si es día laborable o no (workingday)

Verificar relacion de estas variables con los usuarios casuales (o registrados)

# 2.Dataset2: Diabetes Health Indicators Dataset

## 2.1 Importación de datos

https://www.kaggle.com/datasets/alexteboul/diabetes-health-indicators-dataset

In [9]:
## vuelvo a importar las librerias considerando que todos los dataset se ejecuten independientemente

In [10]:
from google.colab import drive
import os
import pandas as pd

In [11]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
%cd  "/content/drive/MyDrive/Coderhouse/1er entrega"

/content/drive/MyDrive/Coderhouse/1er entrega

In [13]:
archivo2 = pd.read_csv ("Diabetes.csv",sep = ",")

In [14]:
df2 = pd.DataFrame(archivo2)

## 2.2 Visualización y tipos de datos

In [15]:
df2.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [17]:
df2.Diabetes_012.value_counts(normalize = True)*100

0.0    84.241170
2.0    13.933302
1.0     1.825528
Name: Diabetes_012, dtype: float64

In [29]:
df2.describe()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.296921,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.698160,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,2.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [39]:
df2.isna().sum()

Diabetes_012            0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

## 2.3 Variables.

### 2.3.1 Descripción:

- Diabetes_012:  0 = no diabetes 1 = prediabetes 2 = diabetes
- HighBP:  0 = no high BP 1 = high BP
-HighChol:  0 = no high cholesterol 1 = high cholesterol
-CholCheck:  0 = no cholesterol check in 5 years 1 = yes -cholesterol check in 5 years
-BMI:  Body Mass Index
-Smoker:  Have you smoked at least 100 cigarettes in your entire life? [Note: 5 packs = 100 cigarettes] 0 = no 1 = yes
-Stroke:  (Ever told) you had a stroke. 0 = no 1 = yes
-HeartDiseaseorAttack:  coronary heart disease (CHD) or myocardial -infarction (MI) 0 = no 1 = yes
-PhysActivity:  physical activity in past 30 days - not including -job 0 = no 1 = yes
-Fruits:  Consume Fruit 1 or more times per day 0 = no 1 = yes
-Veggies:  Consume Vegetables 1 or more times per day 0 = no 1 = yes
-HvyAlcoholConsump:  Heavy drinkers (adult men having more than 14 drinks per week and adult women having more than 7 drinks per week) 0 = no 1 = yes
-AnyHealthcare:  Have any kind of health care coverage, including health insurance, prepaid plans such as HMO, etc. 0 = no 1 = yes
-NoDocbcCost:  Was there a time in the past 12 months when you needed to see a doctor but could not because of cost? 0 = no 1 = yes
-GenHlth:  Would you say that in general your health is: scale 1-5 1 = excellent 2 = very good 3 = good 4 = fair 5 = poor
-MentHlth:  Now thinking about your mental health, which includes stress, depression, and problems with emotions, for how many days during the past 30 days was your mental health not good? scale 1-30 days
-PhysHlth:  Now thinking about your physical health, which includes physical illness and injury, for how many days during the past 30 days was your physical health not good? scale 1-30 days
-DiffWalk:  Do you have serious difficulty walking or climbing -stairs? 0 = no 1 = yes
-Sex:  0 = female 1 = male
-Ages:  13-level age category (_AGEG5YR see codebook) 1 = 18-24 9 = 60-64 13 = 80 or older
-Education:  Education level (EDUCA see codebook) scale 1-6 1 = -Never attended school or only kindergarten 2 = Grades 1 through 8 (Elementary) 3 = Grades 9 through 11 (Some high school) 4 = Grade 12 or GED (High school graduate) 5 = College 1 year to 3 years (Some college or technical school) 6 = College 4 years or more (College graduate)
-Income:  Income scale (INCOME2 see codebook) scale 1-8 1 = less than 10,000 5 = less than 35,000 8 = 75,000 or more

### 2.3.2 Variables potencialmente interesante
El objetivo es ver la relación de la variable "diabetes" con el resto de las variables. 

Determinar que factores o grupo de factores de riesgo pueden predecir la diabetes

# 3.Dataset3: Cornell Car Rental Dataset

## 3.1. Importación de datos

https://www.kaggle.com/datasets/kushleshkumar/cornell-car-rental-dataset

In [18]:

from google.colab import drive
import os
import pandas as pd

In [19]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
%cd  "/content/drive/MyDrive/Coderhouse/1er entrega"

/content/drive/MyDrive/Coderhouse/1er entrega

In [21]:
archivo3 = pd.read_csv ("Alquiler Autos.csv",sep = ",")

In [22]:
df3 = pd.DataFrame(archivo3)

## 3.2 Visualización y tipos de datos

In [23]:
df3.head(5)

,fuelType,rating,renterTripsTaken,reviewCount,location.city,location.country,location.latitude,location.longitude,location.state,owner.id,rate.daily,vehicle.make,vehicle.model,vehicle.type,vehicle.year,airportcity
0,ELECTRIC,5.00,13.0,12.0,Seattle,US,47.449107,-122.308841,WA,12847615.0,135.0,Tesla,Model X,suv,2019.0,Albuquerque
1,ELECTRIC,5.00,2.0,1.0,Tijeras,US,35.111060,-106.276551,NM,15621242.0,190.0,Tesla,Model X,suv,2018.0,Albuquerque
2,HYBRID,4.92,28.0,24.0,Albuquerque,US,35.127163,-106.566681,NM,10199256.0,35.0,Toyota,Prius,car,2012.0,Albuquerque
3,GASOLINE,5.00,21.0,20.0,Albuquerque,US,35.149726,-106.711425,NM,9365496.0,75.0,Ford,Mustang,car,2018.0,Albuquerque
4,GASOLINE,5.00,3.0,1.0,Albuquerque,US,35.208659,-106.601008,NM,3553565.0,47.0,Chrysler,Sebring,car,2010.0,Albuquerque

In [24]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5851 entries, 0 to 5850
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fuelType            5776 non-null   object
 1   rating              5350 non-null   float64
 2   renterTripsTaken    5851 non-null   float64
 3   reviewCount         5851 non-null   float64
 4   location.city       5851 non-null   object
 5   location.country    5851 non-null   object
 6   location.latitude   5851 non-null   float64
 7   location.longitude  5851 non-null   float64
 8   location.state      5851 non-null   object
 9   owner.id            5851 non-null   float64
 10  rate.daily          5851 non-null   float64
 11  vehicle.make        5851 non-null   object
 12  vehicle.model       5851 non-null   object
 13  vehicle.type        5851 non-null   object
 14  vehicle.year        5851 non-null   float64
 15  airportcity         5851 non-null   object
dtypes: float64(8), object(8)
memory usage: 731.5+ KB

In [25]:
df3.renterTripsTaken.value_counts(normalize = True)*100

0.0      7.366262
1.0      4.990600
3.0      3.657494
2.0      3.623312
4.0      2.956760
           ...
271.0    0.017091
183.0    0.017091
278.0    0.017091
209.0    0.017091
231.0    0.017091
Name: renterTripsTaken, Length: 238, dtype: float64

## 3.3. Variables:

### 3.3.1 Descripción:

- fuelType:  Type of fuel used by car
- rating:  Cumulative rating of the car by customers
- renterTripsTaken:  No. of trips taken for this Car (duration unknown)
- reviewCount:  No. of reviews
- text_formatlocation.city:  City located in
- flaglocation.country:  Country located in
- navigationlocation.latitude:  Latitude of the Car's location
- navigationlocation.longitude:  Longitude
- text_formatlocation.state:  State located in
- vpn_keyowner.id:  ID of the Owner
- rate.daily:  Daily Rate of Car (Rental Fare)
- text_formatvehicle.make:  Make of the Vehicle
- text_formatvehicle.model:  Model of the Vehicle
- text_formatvehicle.type:  Type of the Vehicle
- vehicle.year:  Year of the Vehicle

### 3.3.2 Variables potencialmente interesantes:
Aanlizar cuantos autos se alquilan (renterTripsTaken) segun año del vehiculo, costo diario, ciudad, tipo de auto. 
Determinar si existe relacion con las calificaciones